<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/img/logoWA.png" type="image/x-icon" />-->
    <link rel="shortcut icon" href="/img/logo.ico">
    <title>iBiomed Society</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <style type="text/css">
      .mx-auto h4 {
        font-size: 30px;
      }
      .mx-auto p {
        line-height: 1.8em;
        text-indent: 10%;
      }
      p a {
        text-decoration: none;
        color: #0085A1;
      }
      .copyright {
        transform:translateX(-35px);
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="img/logo.png" width="45" height="45"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">The Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administration">Administration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student-life">Student Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/admin.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Administration</h1>
              <span class="subheading">Specifics about the iBMS</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
          <article>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto" style="text-align: justify;">
                  <center><h2 class="section-heading">Administrative Details and Documents</h2></center>

                  <h4 class="section-heading">Finance</h4>
                  <p>
                    Information coming soon.
                  </p>

                  

                  <!--<center><h2 class="section-heading">How We Built Write-Aid</h2></center>-->
                  <h4 class="section-heading">Constitution</h4>
                  <p>
                    <a class="" href="Constitution.pdf" style="color:#f4483f;" target="_blank">Constitution PDF</a>
                  </p>
                  
                  
                   <h4 class="section-heading">Operations Policy</h4>
                  <p>
                    <a class="" href="Operations Policy.pdf" style="color:#f4483f;" target="_blank">Operations Policy PDF</a>
                  </p>
                  
                  <h4 class="section-heading">Meeting Minutes</h4>
                  <p>
                    
                    <!--<a class="" href="Meeting-Minutes/2018_06_26.docx" style="color:#f4483f;" target="_blank">Meeting Minutes Folder</a>-->
                    <ul style="margin:1.5em;list-style-type: circle;color:#f4483f"> <!-- https://www.w3schools.com/cssref/pr_list-style-type.asp color:#f4483f-->
                      
                      <% files.forEach(function(file){ %>
                        <li> <a href="Meeting-Minutes/<%= file %>" target="_blank"><%= file %></a> </li>
                      <% }) %>
                    </ul>
                    
                  </p>
                  
                  

                  
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ibiomedsociety/?hl=en">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted" >Copyright &copy; iBiomed Society 2021-2022</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
