<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="/img/logo.ico">
    <title>iBiomed Society</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <style type="text/css">
      p {
        line-height: 1.8;
        text-align: justify;
        text-indent: 10%;
      }
      .copyright {
        transform:translateX(-35px);
      }
      .election ul li {
        list-style-type: none;
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="img/logo.png" width="45" height="45"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">The Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administration">Administration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student-life">Student Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/banner.jpg');background-size: Auto 300px; background-color:white;"> <!-- background-size:1300px 600px; -->
      <div class="overlay"></div><!-- home-bg.jpg-->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="color:white" style="color:#fc7474;">iBioMed Society</h1>
              <span class="subheading" style="color:white" style="color:#fc7474;">Official Student Society of McMaster's IBEHS Program</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            <!--Delete me!!!-->
            
            <h1 class="section-heading"> Elections!</h1>
            
            <p class="elections">
              The following is a list of each member running for a society position as well as a link to their Facebook Campaign page if applicable. Voting begins Saturday March 31st! 
              <h3 class="section-heading">BME Co-President</h3>
              <ul style="">
                <li>
                  <a href="https://www.facebook.com/events/616610582140490/" target="_blank">
                    Dua Alam
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/events/791787664533730/" target="_blank">Meghan Mazer</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Vote-Sherry-for-BME-Co-Pres-428168081263366/?__tn__=%2Cd%2CP-R&eid=ARAVbZfBKeqzYO4hoGdBY3AHyHLvpsqnb_CFNjDxTo3dzYYUUCbhQ65jciv5LbQ5Pz9Nny6KjvJQ9GYY" target="_blank">Sherry Aslam</a>
                </li>
              </ul>
              <h3 class="section-heading">HESE Co-President</h3>
              <ul>
                <li>
                  <a href="https://www.facebook.com/events/2262637360653339/" target="_blank">Brendan Tao</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/events/834095850272648/" target="_blank">Chelsea Angeles</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/events/2254110481511148/" target="_blank">Yumma Irfan</a>
                </li>
              </ul>
              <h3 class="section-heading">3rd Year Rep</h3>
              <ul>
                <li>
                  <a href="#" target="_blank">Tony Fan</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/events/642445159542280/" target="_blank">Zarik Virani</a>
                </li>
              </ul>
              <h3 class="section-heading">2nd Year Rep</h3>
              <ul>
                <li>
                  <a href="https://www.facebook.com/events/2303610176370286/" target="_blank">Emnpreet Bahra</a>
                </li>
                <li>
                  <a href="#" target="_blank">Griffin McLean</a>
                </li>
              </ul>
              <h3 class="section-heading">Academic</h3>
              <ul>
                <li>
                  <a href="https://www.facebook.com/events/1233798910121660/" target="_blank">Rachel McKenzie</a>
                </li>
                <li>
                  <a href="https://www.facebook.com/events/786802308372162/" target="_blank">Vikash Nanthakumar</a>
                </li>
              </ul>
              <h3 class="section-heading">External Relations</h3>
              <ul>
                <li><a href="#" target="_blank">Alex Whyard</a></li>
                <li><a href="#" target="_blank">Konrad Grala</a></li>
              </ul>
              <h3 class="section-heading">Finance</h3>
              <ul>
                <li><a href="#" target="_blank">Abbas Conteenuala</a></li>
                <li><a href="#" target="_blank">Matthew George</a></li>
                <li><a href="https://www.facebook.com/events/323794631821555/" target="_blank">Yijinmide (Mike) Buren</a></li>
              </ul>
              <h3 class="section-heading">Marketing</h3>
              <ul>
                <li><a href="https://www.facebook.com/FatimaforMarketing/" target="_blank">Fatima Ahmad</a></li>
                <li><a href="https://www.facebook.com/events/426154264809119/" target="_blank">Jasmine Lewis</a></li>
                <li><a href="#" target="_blank">John Milkovich</a></li>
                <li><a href="https://www.facebook.com/events/773824872989575/" target="_blank">Kevin Lu</a></li>
                <li><a href="https://www.facebook.com/events/388820431953724/" target="_blank">Shaheer Hassan</a></li>
              </ul>
              <h3 class="section-heading">Student Life</h3>
              <ul>
                <li><a href="https://www.facebook.com/events/2279249779063937/" target="_blank">Arjun Raghavan</a></li>
                <li><a href="https://www.facebook.com/events/433407960554836/" target="_blank">Jessica Lim</a></li>
              </ul>
            </p>
            
            <!--<p>-->
            <!--  The day has come! Your iBioMed Society has been working hard to make this academic year the best it could be and now the end is near. It is time to prepare for the new academic year, and with a new year comes a new team! Nominations to fill out executive position will begin on March 14th so…. TODAY!! Please read and fill out the signature form and drop it off at the iBioMed Main Office (MDCL 3300) by March 21st 4:30 p.m. iBioMed Main Office Hours. Monday - Friday at MDCL 3300 8:30 am – 4:30 pm. <em>Note:</em> office is <strong>CLOSED</strong> 12:00 pm – 1:00 pm<br>-->
            <!--  <br>-->
            <!--  The following is the schedule for this election:-->
            <!--  <ul class="rules">-->
            <!--    <li>-->
            <!--      <strong>Nominations:</strong> March 14th - March 21st 6:00 p.m.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <strong>Campaign rules meeting:</strong> March 22nd 6:00 p.m. at at the design studio (ETB 533). Will go over general rules and guidelines for running your campaigns. All nominees are expected to attend unless a notice is given ahead of time.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <strong>Campaigning!!!:</strong> March 23rd - March 30th-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <strong>Voting:</strong> March 31st - April 2nd-->
            <!--    </li>-->
            <!--  </ul>-->
              
            <!--  To get an idea of the positions available we got each member of the iBio Society to write down what their expectations were, along with what they were able to accomplish over the past summer and these past 2 semesters. Please click on each title to be sent to the respective doc: -->
            <!--  <br><br>-->

            <!--  <ul style="padding: 0 30px" class="election">-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1hGCGE1HkHhM3R_YSO8x4IQz9aXpRDaoTScXs5K4oiRU/edit?usp=sharing" target="_blank">B.M.E Co-President:</a> Represents the iBioMed Society and the Health, Engineering Science, and Entrepreneurship stream by overseeing the general running of the society and its executive members.-->
            <!--      <ul>-->
            <!--        <li>-->
            <!--          <em>For the time being, the co-president positions will be restricted to students in their 3rd year or later of the program.</em>-->
            <!--        </li>-->
            <!--      </ul>-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1v8uDMV67yQTmLScLCcmravZVUDSGv49O9qoEkx36RZU/edit?usp=sharing" target="_blank">HESE Co-President: </a> Represents the iBioMed Society and the Health, Engineering Science, and Entrepreneurship stream by overseeing the general running of the society and its executive members.-->
            <!--      <ul>-->
            <!--        <li>-->
            <!--          <em>For the time being, the co-president positions will be restricted to students in their 3rd year or later of the program.</em>-->
            <!--        </li>-->
            <!--      </ul>-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1YPyheZDFZxgk0VcJxrq-vAa8gfYzAAWqteIwnsByu04/edit?usp=sharing" target="_blank">V.P Academic:</a> Presents the academic concerns of the iBioMed students regarding the iBioMed specific courses to the appropriate co-directors or professors.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1-N3_XH6qzN5RDXyMV9XQyTgNS_pUmSpSduVt4cPulJs/edit?usp=sharing" target="_blank">V.P. Marketing:</a> Responsible for handling all of the iBioMed society’s social media accounts as well as designing advertisements and program specific swag.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1HeC99IrjNfIblpJOev1fMccCf9Kp4F096zf4-gI9SzU/edit?usp=sharing" target="_blank">V.P. Student Life/Events:</a> Responsible for planning and preparing social events for the iBioMed students to promote an active and social student body.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1usSX4zHYTIOlqkUEWmVgK1T2zR5GmvcxbpBspLyobpg/edit?usp=sharing" target="_blank">V.P. External Relations:</a> Promotes the program and its reputation through external conferences and events and promotes iBioMed presence through the students at said events.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1_W6SajZLxt1lO4asJm2KiZSEGE2-nrWF_06BT-DGEXg/edit?usp=sharing" target="_blank">V.P. Finance:</a> Handles the program’s budget, protects the integrity of the program’s bank account and approves all spending done by the iBioMed society executive members.-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1n619tyddb1og8av28BfNOMB3bD6WsYBYAZB1lSKFvco/edit?usp=sharing" target="_blank">2nd Year Rep:</a> Represents the general student body’s opinions and concerns to be relayed to the executive members and makes the student body aware of what is happening in the society.-->
            <!--      <ul>-->
            <!--        <li><em>Must be someone who will be in their second year of the iBioMed program in the 2019-2020 academic year.</em></li>-->
            <!--        <li><em>Responsibilities will be similar to that of of the First Year Rep position, only specifically for 2nd Years.</em></li>-->
            <!--      </ul>-->
            <!--    </li>-->
            <!--    <li>-->
            <!--      <a href="https://docs.google.com/document/d/1n619tyddb1og8av28BfNOMB3bD6WsYBYAZB1lSKFvco/edit?usp=sharing" target="_blank">3rd Year Rep:</a> Represents the general student body’s opinions and concerns to be relayed to the executive members and makes the student body aware of what is happening in the society.-->
            <!--      <ul>-->
            <!--        <li><em>Must be someone who will be in their third year of the iBioMed program in the 2019-2020 academic year.</em></li>-->
            <!--        <li><em>Responsibilities will be similar to that of of the First Year Rep position, only specifically for 3rd Years</em></li>-->
            <!--      </ul>-->
            <!--    </li>-->
                
            <!--  </ul>-->
            <!--  For any further questions or concerns please feel free to <a href="mailto:i-biomed@macengsociety.ca">send an email</a>.-->
              
            <!--  <div style="padding-top: 20px;">-->
            <!--    <center>-->
            <!--      <img src="/img/image-elections.png" style="width:300px" >-->
            <!--    </center>-->
            <!--  </div>-->

            <!--</p>-->
            
            <h2 class="section-heading">Who are We?</h2>
            <p>
              The iBioMed Society (iBMS) is a student-run, non-profit organization dedicated to enhancing the university experience of students enrolled in the Integrated Biomedical Engineering and Health Sciences (IBEHS) program at McMaster University. Inaugurated in 2018 by its first cohort of first-year students, the iBioMed Society was built upon a foundation of integrity with a strong community in mind. By offering students a wide range of academic, professional and networking events, the iBMS aims to facilitate a sustainable community established on unity, collaboration, and acceptance. In doing so, the iBMS intends to craft a unique identity for the IBEHS program and student body, while strengthening its ties to both Engineering and Health Sciences communities at McMaster University. The iBMS is proud to serve the needs of its excellent student body while also encouraging it to develop meaningful connections all over campus and beyond.
            </p>

            <h2 class="section-heading">Want to Get Involved?</h2>

            <p>
              Interested in getting involved with the iBioMed Society? There are many ways to become an executive on the iBioMed Society. Please send an email to our <a href="mailto:i-biomed@macengsociety.ca" >MES representative</a> detailing your interest in getting involved.
            </p>
            
            <h2 class="section-heading">First Year Rep Forms</h2>
            
            <p>
              Interested in becoming a first-year representative for the iBioMed Society? Fill out <a href="First-Year-Rep-Signature-Form.pdf" target="_blank">this</a> form to get involved. Good luck!
            </p>
            
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ibiomedsociety/?hl=en">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted" >Copyright &copy; iBiomed Society 2018-2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>

  </body>

</html>
