<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="/img/logo.ico">
    <title>iBiomed Society</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <style type="text/css">
      .qu {
        font-size: 60px;
      }
      blockquote {
        line-height: 1.8em;
        color: black;
      }
      .copyright {
        transform:translateX(-35px);
      }
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="img/logo.png" width="45" height="45"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">The Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administration">Administration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student-life">Student Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/society-pic.jpg')">
      <div class="overlay"></div><!-- home-bg.jpg-->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Meet The Team</h1>
              <!--<span class="subheading">A Quick Remark From Each of Us</span>-->
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        
            <center>
              <h2 class="section-heading">The iBioMed Society </h2>
            </center>
              <p style="line-height: 1.8;text-align: justify;text-indent: 10%;margin:20px 70px;">
                The iBMS is proudly represented by students representing both the Biomedical Engineering (BME) and the Health, Engineering Science and Entrepreneurship (HESE) streams of iBioMed!
              </p>
            
            
            <br><br><br>

            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/wesley.png" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Wesley Tam</p>
                <p> <b>Role: </b> HESE Co-President</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:hesepresident.ibiomed@gmail.com" >hesepresident.ibiomed@gmail.com</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/ansh.jpg" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Ansh Kuckreja</p>
                <p> <b>Role: </b> BME Co-President</p>
                <p> <b>Program: </b> Electrical and Biomedical Engineering</p>
                <p> <b> Contact: </b> <a href="mailto:bmepresident.ibiomed@gmail.com" >bmepresident.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/mark.png" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Mark Fahmy</p>
                <p> <b>Role: </b> McMaster Engineering Society (MES) Rep</p>
                <p> <b>Program: </b> Engineering Physics and Biomedical Engineering</p>
                <p> <b> Contact: </b> <a href="mailto:ibiomed@macengsociety.ca" >ibiomed@macengsociety.ca</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/angel.jpg" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Angel Cai</p>
                <p> <b>Role: </b> VP Finance</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:vpfinance.ibiomed@gmail.com" >vpfinance.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/taha.png" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Taha Parvez</p>
                <p> <b>Role: </b> VP External and Webmaster</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:vpexternal.ibiomed@gmail.com" >vpexternal.ibiomed@gmail.com</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/emn.jpeg" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Emnpreet Bahra</p>
                <p> <b>Role: </b> VP Marketing</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:vpmarketing.ibiomed@gmail.com" >vpmarketing.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/faaria.jpg" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Amanda Tomkins</p>
                <p> <b>Role: </b> VP Academic</p>
                <p> <b>Program: </b> Electrical and Biomedical Engineering</p>
                <p> <b> Contact: </b> <a href="mailto:vpacademic.ibiomed@gmail.com" >vpacademic.ibiomed@gmail.com</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/poonam.jpg" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Poonam Saha</p>
                <p> <b>Role: </b> VP Events</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:vpevents.ibiomed@gmail.com" >vpevents.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <!-- new entries 10/9/2021 -->
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/firstyearrep.png" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> First year</p>
                <p> <b>Role: </b> First Year Representative</p>
                <p> <b>Program: </b> IBEHS Level I</p>
                <p> <b> Contact: </b> <a href="mailto:firstyearrep.ibiomed@gmail.com" >firstyearrep.ibiomed@gmail.com</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/kailin.jpg" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Kailin Chu</p>
                <p> <b>Role: </b> Second Year Representative</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:secondyearrep.ibiomed@gmail.com" >secondyearrep.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/bhavana.JPG" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Bhavana Pereira</p>
                <p> <b>Role: </b> Third Year Representative</p>
                <p> <b>Program: </b> Software and Biomedical Engineering</p>
                <p> <b> Contact: </b> <a href="mailto:thirdyearrep.ibiomed@gmail.com" >thirdyearrep.ibiomed@gmail.com</a></p>
                
              </div>
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/lily.png" width="250" height="333">
                </center>
                
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Lily Zhong</p>
                <p> <b>Role: </b> Fourth Year Representative</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:fourthyearrep.ibiomed@gmail.com" >fourthyearrep.ibiomed@gmail.com</a></p>
              </div>
              
            </div>
            
            <br><br>
            
            <div class="row">
              
              <div class="col-lg-3 col-md-6">
                <center>
                  <img src="img/members/yiji.jpg" width="250" height="333">
                </center>
              </div>
              <div class="col-lg-3 col-md-6"  style="font-size:16px;">
                <p> <b>Name: </b> Yijinmide Buren</p>
                <p> <b>Role: </b> Fifth Year Representative</p>
                <p> <b>Program: </b> Health, Engineering Science and Entrepreneurship</p>
                <p> <b> Contact: </b> <a href="mailto:fifthyearrep.ibiomed@gmail.com" >fifthyearrep.ibiomed@gmail.com</a></p>
                
              </div>
                            
            </div>
            
            <br><br>


      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ibiomedsociety/?hl=en">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted" >Copyright &copy; iBiomed Society 2021-2022</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
